.overview {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.balance {
  text-align: center;
  margin-bottom: 20px;
}

.balance h2 {
  margin: 0;
  font-size: 18px;
  color: #555;
}

.balance h1 {
  margin: 0;
  font-size: 36px;
  color: #e74c3c;
}

.chart-heading p {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.overview .filter-sort {
  border: 1px solid #ecedf0 !important;
  background-color: transparent !important;
  border-radius: 25px !important;
}

.overview .filter-sort select {
  background-color: #fff;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stat {
  text-align: center;
}

.stat h3 {
  margin: 0;
  font-size: 18px;
  color: #555;
}

.stat h1 {
  margin: 0;
  font-size: 36px;
  color: #333;
}

.charts {
  display: flex;
  gap: 3rem;
  margin: 2rem 0;
  width: 100%;
}

select {
  background-color: #fff !important;
  border: #fff !important;
}

.chart {
  width: 45%;
  margin-bottom: 20px;
}

.chart h4 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.bar-chart {
  width: 100%;
}

.completion-legend {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.completion-legend div {
  margin: 0 10px;
  font-size: 14px;
  color: #555;
}

.completion-legend span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.top-cards {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.balance {
  background-color: #275dad;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 10px;
  margin: 0;
}

.balance .value {
  font-size: 24px;
  font-weight: 600;
  width: 300px;
}

.balance p,
.stat p,
.stat p {
  font-size: 14px;
}

.stat.one {
  padding: 0.8rem;
  background-color: #fff0ce;
  border-radius: 10px;
}

.stat.one .enroll {
  padding: 0.3rem;
  color: #5b616a;
  background-color: #ffce60;
  border-radius: 10px;
}

.stat.one .value {
  font-size: 28px;
  font-weight: 600;
}

.stat {
  padding: 0.8rem;
  background-color: #e1faf8;
  border-radius: 10px;
}

.stat .total {
  padding: 0.3rem;
  color: #5b616a;
  background-color: #6dccfa;
  border-radius: 10px;
}

.stat .value {
  font-size: 28px;
  font-weight: 600;
}

.box,
.box-2 {
  width: 14px;
  height: 14px;
  border-radius: 4px;
}

.box {
  background-color: #17e383;
  color: #333;
}

.box-2 {
  background-color: #e0d4f3;
}

.charts {
  margin-top: 1.5rem;
}

p.active.gender {
  text-align: center;
}

.filter-sort {
  border-radius: 5px !important;
}

.chart-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary {
  display: flex;
  justify-content: end;
  margin-top: -2rem;
  margin-left: 5rem;
}

.summary .summary-box div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
}

.active {
  color: #979797;
  margin-bottom: 1rem;
  font-size: 14px;
  padding: 0.6rem;
  border-radius: 20px;
  background-color: #f7f7f7;
}

.students-dash {
  padding: 0.2rem 0.4rem;
  color: #5b616a;
  background-color: #5ce1e6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
  width: 70px;
  font-size: 8px;
  text-transform: uppercase;
  position: relative;
  top: 3rem;
}

.chart.two {
  width: 100%;
}

.box.male {
  background-color: #6f6af8;
}

.box-2.female {
  background-color: #fd46d5;
}

.male {
  color: #6f6af8;
}

.female {
  color: #fd46d5;
}

#play {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 14px;
  padding: 0.1rem 2rem;
  width: 52%;
  border-radius: 30px;
  background-color: #5ce1e6;
  color: #275dad;
  margin-top: 0.2rem;
}
