.enrolled-course-student .header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: none;
  margin: 1.5rem 0;
}

.enrolled-course-student .search-bar .search {
  padding: 0;
}

.enrolled-course-student .header p {
  font-size: 22px !important;
  color: #262626;
}

.back-button {
  background-color: transparent;
  border: none;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.nav-btn {
  width: 200px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.nav-btn div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: rgba(0, 0, 0, 0.5) !important;
}

.nav-btn p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5) !important;
}

.modal-button {
  width: 30%;
  margin-left: auto;
  display: block;
  margin-top: 1rem;
  border: none;
  background-color: #275dad;
  color: #fff;
  padding: 0.6rem 2rem;
  border-radius: 10px;
}

.flex-container div label {
  margin-bottom: 0.3rem;
}

.flex-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 2rem;
}

textarea {
  padding: 0.5rem;
}
.add-student-button {
  background-color: #00aaff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.image-container {
  position: relative;
  width: 100%;
  /* height: 150px; */
  /* overflow: hidden; */
}

.close-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h2.text-start {
  margin: 0;
}

.select-flex {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin: 1rem 0;
}

.class-input input {
  width: 100%;
  background-color: #ecedf0;
  display: block;
  border-radius: 5px;
}

.select-flex div {
  width: 100%;
}

.select-flex select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  background-color: #ecedf0;
  border-radius: 5px;
}

textarea {
  display: block;
  width: 100%;
  background-color: #ecedf0;
  border-radius: 5px;
}

.text-area .div {
  width: 65%;
}

.text-area {
  display: block;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 2rem;
}
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-bar {
  display: flex;
  background-color: #275dad;
  justify-content: space-evenly;
  color: white;
  padding: 15px 5px;
  width: 100%;
  margin: 2rem 0;
  border-radius: 8px;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack items vertically */
  height: 100%; /* Ensure the items take up full height */
}

.info-item p {
  font-size: 12px;
  color: #5ce1e6;
  text-align: center;
  white-space: nowrap;
  margin-left: 1rem;
  padding: 0.2rem 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center; /* Centers text horizontally and vertically */
  width: 100%;
  box-sizing: border-box;
}

.info-item p:nth-of-type(1) {
  border-right: 1px solid #fff; /* Border on the first <p> */
}

.info-item p:nth-of-type(2) {
  color: white;
  border-right: 1px solid #fff; /* Border on the second <p> */
}

.back-button {
  color: #262626;
  background-color: transparent;
}

.add-student-button {
  background-color: #5ce1e6;
  color: #275dad;
  border: none;
  margin-left: a;
  padding: 10px 20px;
  cursor: pointer;
}

.create-course-container {
  display: flex;
  justify-content: end;
  margin: 1.5rem 0;
}

/* .background-image {
  width: 100%;
  height: auto;
} */

.table-container {
  overflow-x: auto;
}

.students-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.students-table th,
.students-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: start;
}

.students-table th {
  background-color: #f2f2f2;
}

.students-table thead tr th {
  font-weight: 500;
  background-color: #fff;
}

.action-icon {
  cursor: pointer;
  margin: 0 5px;
}

.delete-icon {
  color: red;
}

.arrow-icon {
  color: green;
}

.upload {
  width: 31.2%;
}

.file-upload-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  background-color: #f8f9fa;
  border: 1px solid #007bff;
}

.file-upload-input {
  display: none;
}

.enroll-heading-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-upload-label {
  display: flex;
  align-items: center;
  gap: 8rem;
  cursor: pointer;
  color: #007bff;
  border-radius: 5px;
}

.file-upload-label .iconify {
  margin-right: 8px;
}

select {
  border: 1px solid #ecedf0;
  background-color: #f8f9fa;
}
