@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.tot-nav-text{
    font-family: 'Montserrat', system-ui, -apple-system, sans-serif !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
}

.main-content {
    align-items: stretch;
    min-height: calc(100vh - 59.6px);
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-content > .aside-class {
    align-self: stretch;
    height: auto;
    min-height: calc(100vh - 59.6px);
    background-color: rgb(248, 245, 245);
}

@media (max-width: 769px) {
    .resilience-week-content {
        padding: 0 0px !important;
        margin: 1rem 5px 0 0 !important;
    }
    .assessment-header {
        padding: 0 !important;
        margin-bottom: 1rem !important;
    }
}

.feedback-content p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.tracking-wider {
    letter-spacing: 0.1em;
}

.text-info {
    color: #5CE1E6 !important;
}

