.course-info-modal {
  /* width: 1100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px 0 0 0;
}

.course-info-modal p {
  font-size: 14px;
  text-align: justify;
}

.course-info-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-items: center; */
}

.course-info-modal-header h2 {
  text-align: left;
}

.overflow-y-modal {
  overflow-y: auto;
}
.overflow-y-modal {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling */
  scrollbar-width: none; /* For Firefox */
}

.overflow-y-modal::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari */
}
.course-info-modal-body {
  margin-top: 10px;
  font-size: 14px;
  max-height: 200px;
  padding: 10px;
}

.list {
  display: flex;
}

.course-info-modal-body::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar width */
  height: 0;
  /* Remove scrollbar height */
}

.objectives-scroll ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
}

.course-info-modal-footer {
  display: flex;
  background-color: #275dad;
  color: #fff;
  text-align: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

.course-info-modal .close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
}

.course-info-modal .objectives ul {
  list-style: disc !important;
  padding-left: 2rem;
}

.course-info-modal .objectives ul li {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: justify;
  list-style: disc !important;
}

.course-info-modal-footer p {
  color: #fff;
  margin-bottom: 0;
}

.course-info-modal-footer .modal-btn.cart {
  background-color: #5ce1e6;
  color: #275dad;
  font-size: 16px;
  border-radius: 30px;
  font-weight: 500;
}

.payment-modal.modal-content {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.enrol-modal-p {
  font-size: 12px;
  text-align: center;
}

.payment-modal-body {
  text-align: center;
  border: 1px solid #a1a2a4;
  padding: 10px;
  margin-top: 15px;
}

.payment-modal-body .p-amount {
  color: #000000;
  font-size: 34px;
  font-weight: 800;
  align-items: center;
  line-height: normal;
  border-bottom: 1px solid #ecedf0;
}

.payment-modal-body .form-group {
  display: flex;
  flex-direction: column;
}

.payment-modal-body .form-group label {
  margin-bottom: 5px;
  font-size: 12px;
  text-align: left;
  color: #5b616a;
}

.payment-modal-body .form-group input {
  width: calc(100% - 10px);
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #707172;
}

.payment-modal-body .form-group input::placeholder {
  font-size: 14px;
  color: #d6d6d6;
}

.error-message {
  color: #fd483d !important;
  font-size: 12px !important;
}

.payment-modal-body .payment-btn {
  /* width: 200px; */
  width: calc(100% - 10px);
  background-color: #63c563;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
}

.payment-modal-footer img {
  max-width: 70%;
}

.registration-page.edit-profile span {
  color: #275dad;
}

.registration-page.edit-profile .prefilled,
.registration-page.edit-profile select.prefilled option {
  color: #808080; /* Grey color */
}

.review-popup.modal-content {
  width: fit-content;
}

.review-popup h1.review {
  background-color: #275dad;
  color: #fff;
  border: 8px solid #5ce1e6;
  border-radius: 50px;
  text-align: center;
  padding: 5px 0;
}

.review-popup div .review-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.review-popup div .review-buttons .btn,
.review-popup div .review-buttons .btn:focus {
  outline: none;
  border: none;
}

/* @media (max-width: 768px) {
  .course-info-modal {
    width: 500px;
  }
}
@media (max-width: 480px) {
  .course-info-modal {
    width: 380px;
  }
} */
