

.course-profile{
    display: flex;
}

.course-links {
    flex: 2;
    /* border-radius: 10px; */
    position: fixed;
    width: 300px;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4B7E31;
    box-shadow: 0px 4px 15px 0px #0000000D;
    border: 1px solid #44444440;
    overflow-y: scroll;
}
.course-links::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar width */
    height: 0;
    /* Remove scrollbar height */
  }
.about-courses-menu {
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.back-to-course-list{
    cursor: pointer;
}

.course-title-text{
    width: 280px;
    padding: 10px;
background-color: #FFFFFF;
border-radius: 5px;
}
.course-title-text h2{
    font-size: 24px;
    text-wrap: nowrap;
    color: #4B7E31;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0;
}
.course-title-text h2.sub-title{
  color: #5B616A;
}

.about-courses-menu .sub-courses {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}



.about-courses-menu .sub-courses li {
    width: 280px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    margin: 0 0 10px 0;

}

.about-courses-menu .sub-courses li p.text-wrap{
    /* text-align: justify; */
    width: auto;
}

.about-courses-menu .sub-courses li:hover {
    background: rgba(20, 20, 20, 0.5);
    color: #FFFFFF;
  }
.about-courses-menu .sub-courses li .iconify {
    font-size: 18px;
  margin-right: 20px;
  color: #FAFAFA;
}

.about-courses-menu .sub-courses li.active {
    background-color: #D4FFBE;
    color: #5B616A


}
.about-courses-menu .sub-courses li.active .iconify{

    color: #D6D6D6


}

.course-sidebar-content{
    flex: 4;
    background: #FBFBFB;
    border-radius: 10px;
    padding: 40px 20px;
    /* margin: 50px 0 0 250px ; */
    margin: 60px 0 0 320px;
}




