input {
  padding: 0.2rem;
  font-size: 14px;
  background-color: #f8f8f8 !important;
  color: #d6d6d6;
  border: 1px solid #d6d6d6;
}

label {
  color: #84828a;
  font-size: 14px;
}

.team-heading {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-left: 40%;
}

.flex-row div select {
  padding: 0.5rem;
  border-radius: 5px;
}
.sub-heading {
  text-align: center;
  padding: 1rem 0;
}
.form-borders {
  padding-bottom: 3rem;
}

.edit-course-container button.update {
  width: 200px;
  margin-left: 30%;
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  color: #ffff;
  background-color: #275dad;
  border-radius: 5px;
}

select {
  padding: 0.2rem;
  font-size: 14px;
  background-color: #ecedf0;
  color: #d6d6d6;
  border: solid 1px #d6d6d6;
  display: block;
  width: 100%;
}

.edit-course-container .flex-row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 1rem 0;
  gap: 2rem;
}

.flex-row div {
  width: 100%;
}

.flex-row div input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #1e1e1e;
}

.flex-row div input:focus {
  border: 1px solid #d6d6d6 !important;
}

button.update {
  width: 50%;
  border: none;
  display: block;
  margin-top: 2rem;
}

.required {
  color: #fd483d;
  font-size: 10px;
  text-align: left;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
}

#select {
  border: 1.5px solid #ecedf0 !important;
  background-color: #f8f8f8 !important;
  padding: 0.5rem;
}

.country-code {
  position: absolute;
  top: 0.8rem;
  color: #5b616a;
  left: 2.5rem;
}

.file-upload-wrapper.enroll {
  justify-content: space-between;
  border: 1px solid #ccc;
  gap: 10rem;
}

.file-upload-wrapper.enroll .file-upload-label {
  gap: 18rem;
}

.flex-row div select {
  padding: 0;
}

.upload {
  width: 100%;
  margin: 0;
}

.file-upload-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  margin: 0;
  background-color: #f8f9fa;
}

.file-upload-input {
  display: none;
}

.file-upload-label {
  display: flex;
  align-items: center;
  gap: 13rem;
  cursor: pointer;
  color: #007bff;
  border-radius: 5px;
}

.file-upload-label .iconify {
  margin-right: 8px;
}

.flex-row div {
  margin-left: 0;
}

.form-group .flex-code-input {
  margin: 0;
}
.flex-code-input .PhoneInput {
  background-color: #f8f8f8;
}
.flex-code-input .PhoneInputInput {
  border: none !important;
}

.flex-row div input::placeholder {
  color: #d6d6d6; /* Change this to your desired color */
  /* Optional: To ensure the color is fully applied */
}
