/* src/components/auth/authStyles.css */
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
/* Styles for the registration page */
.registration-page {
  /* width: 700px; */
  display: flex;
  height: 480px;
  /* flex-direction: column;
  justify-content: center; */
  margin: auto 100px;
  /* padding: 20px 30px; */
  background-color: #fff;
  border-radius: 15px;
  z-index: 99;
}

.input-with-icon:focus {
  outline: 1px solid #275dad !important;
}

.input-with-icon input {
  border: none !important;
}
p {
  font-family: "ABeeZee", sans-serif !important;
  font-weight: 400;
}

label,
input {
  font-family: "ABeeZee", sans-serif !important;
}

.registration-page.two {
  /* width: 400px; */
  display: flex;
  height: 500px;
  flex-direction: column;

  justify-content: start;
  margin: 60px auto 0 auto;
  padding: 80px 30px;
  background-color: #fff;
  border-radius: 15px;
  z-index: 99;
}
#checkbox {
  display: inline-block;
  scale: 1.5;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.flex-code-input {
  position: relative;
}

.country-code {
  position: absolute;
  top: 0.8rem;
  color: #5b616a;
  left: 3.5rem;
}

.flex-code-input .PhoneInputCountry {
  width: 70px;
}

.btn.submit-btn.forgot {
  width: 100%;
}

.sign-in.registration-page {
  width: 480px;
  width: clamp(300px, 300px, 480px);
  padding: 4rem;
  border-radius: 20px;
}

.registration-page form {
  margin: 5px 0;
}

p {
  font: 14px !important;
  line-height: 1.5 !important;
  font-weight: 400 !important;
}

.registration-page h2 {
  font-size: 40px;
  margin: 0;
}

.registration-page span {
  color: #fd483d;
  font-size: 12px;
}

.registration-page hr {
  width: 100%;
  /* transform: ; */
  border: 1px solid #ccc;
  margin: 5px 0;
}

.registration-page .form-section {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-column-gap: 15px; */
  gap: 1rem;
  /* margin-top: 1rem; */
  padding-left: 1rem;
}

.registration-page .form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.registration-page .form-group label,
.registration-page .forgot-password,
.registration-page.sign-in p {
  margin-bottom: 5px;
  font-size: 13px;
  text-align: left;
  color: #5b616a;
}

.form-group input {
  width: 100%;
}

.registration-page .form-group input,
.registration-page .form-group select {
  width: calc(100% - 10px);
  font-size: 14px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #f8f8f8;
  border: 1px solid #ecedf0;
  border-radius: 5px;
}

input.PhoneInputInput {
  padding: 9px !important;
}

div.PhoneInput {
  border: 1px solid #ecedf0 !important;
  background-color: #f8f8f8 !important;
}

.registration-page.sign-in .form-group input,
.registration-page.sign-in .form-group .input-with-icon,
.registration-page.sign-in .form-group select {
  width: 300px;
}

.input-with-icon {
  width: calc(100% - 10px);
  font-size: 14px;
  background-color: #f8f8f8;
  border: 1px solid #ecedf0;
  border-radius: 5px;
  padding: 0 10px;
}

.input-with-icon input[type="password"],
.input-with-icon input[type="text"] {
  flex: 1;
  outline: none;
  border: none;
  background-color: #f8f8f8;
  padding: 10px 0;
}

/* .input-with-icon input[type=text]:enabled,
.input-with-icon input[type=text]:disabled,
.input-with-icon input[type=password]:disabled,
.input-with-icon input[type=password]:enabled {
  background-color: #F8F8F8;
} */

input[type="password"]::-webkit-input-placeholder:-webkit-autofill,
input[type="text"]::-webkit-input-placeholder:-webkit-autofill {
  background-color: #f8f8f8;
}

.registration-page .form-group select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url("../../../assets/dropdown-arrow.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  /* background-size: 15px; */
  background-size: 0.9em auto, 100%;
  font-size: 14px;
  color: #d6d6d6;
}

.registration-page .form-group input::placeholder,
.registration-page .form-group select option:first-child {
  font-size: 14px;
  color: #d6d6d6;
}

.registration-page .form-group .password-toggle i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.registration-page .form-group .password-toggle i.fa-eye-slash {
  display: none;
}

.registration-page .password-error,
.registration-page p.password-match {
  color: red;
  width: auto;
  margin: 0;
  font-size: 8px;
}
.a {
  display: inline-block;
  margin-left: 0.3rem;
}

.rember-me {
  display: flex;
  gap: 5px;
}

.rember-me .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* scale: 2; */
  /* display: inline-block; */
  /* margin-left: 0.5rem; */
  /* margin-right: 0.8rem; */
}

.registration-page .bottom-section {
  margin: 10px 0;
  /* text-align: center; */
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.error-message {
  color: #fd483d !important;
  font-size: 12px !important;
}

.bottom-section p,
.rember-me {
  font-size: 14px;
  text-align: center;
  margin-left: 1rem;
  line-height: normal;
}

p a,
p span,
.registration-page .forgot-password {
  color: #275dad;
}

.submit-btn,
.submit-btn:hover {
  width: 200px;
  padding: 8px 20px;
  background-color: #275dad;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid #275dad;
  font-size: 14px;
}

.PhoneInputInput {
  border: none !important;
}

.file-upload-wrapper.enroll {
  gap: 0;
}

.file-upload-label .iconify {
  position: absolute;
  right: 1rem;
  margin: 0 !important;
}

.registration-page.sign-in .submit-btn,
.registration-page.sign-in .submit-btn:hover {
  width: 300px;
}

.otp-input {
  text-wrap: nowrap;
}

.modal-content h2 {
  font-size: 40px;
  text-align: center;
}

.otp-modal p {
  font-size: 14px;
  text-align: center;
}

.modal-content .submit-btn {
  width: 300px;
}

.otp-input input {
  width: 60px;
  height: 45px;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  line-height: normal;
  margin: 0.5rem;
  background-color: #f8f8f8;
  border: 1px solid #d2d3d6;
}

.success-modal .icon-with-bg {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background-color: #50aa5042;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.success-modal .rounded-icon {
  color: #50aa50;
  font-size: 50px;
}

.input-with-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
label {
  border: none;
  padding: 0;
}

.terms-and-conditions {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 10px;
}
.have-account {
  font-size: 12px;
}

#grade-select option[disabled][hidden] {
  color: #ecedf0; /* This makes the placeholder text faded */
}

input[type="checkbox"]:checked {
  outline: none !important;
}

input[type="checkbox"] {
  outline: none !important;
}

/* Target the checkbox when it is focused */
input[type="checkbox"]:focus {
  outline: none I !important;
}

.flex-submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 3rem;
}

.form-group .file-upload-wrapper.enroll .file-upload-label {
  gap: 6rem;
  background-color: #f8f8f8;
  align-items: center;
}

.form-group .file-upload-wrapper.enroll {
  position: relative;
  padding: 6px;
  background-color: #f8f8f8;
  border: 1px soild #ecedf0 !important;
}

.file-upload-wrapper.enroll {
  background-color: #f8f8f8 !important;
  border: 1px solid #ecedf0 !important;
}

.country-code {
  color: #5b616a;
}

.form-group select {
  border: 1px solid #ecedf0 !important;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  background-color: #f8f8f8;
  border: 1px solid #ecedf0 !important;
  border-radius: 4px;
}

.checkbox:focus {
  outline: none !important;
  border: 1px solid #ecedf0;
}

.checkbox:checked::after {
  content: "\2713";
  color: #27ae60;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .sign-in.registration-page {
    width: 480px;
  }
}
@media (max-width: 768px) {
  .registration-page .form-section {
    grid-template-columns: 1fr 1fr;
  }
  .registration-page {
    margin-top: 100px;
    width: 600px;
  }
}
@media (max-width: 480px) {
  .sign-in.registration-page {
    padding: 1rem;
  }

  .registration-page.two.overflow-hidden {
    width: 280px;
  }

  .signup-options {
    justify-items: space-around;
    width: 200px;
  }

  .registration-page .form-section {
    grid-template-columns: 1fr;
  }
  .registration-page {
    width: 280px;
    height: fit-content;
    overflow-y: hidden;
  }
  .back-btn {
    margin-left: -50px;
    margin-bottom: 30px;
  }
}
