@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@import url('https://fonts.cdnfonts.com/css/good-unicorn');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --paragraph-font-family: 'ABeeZee', sans-serif;
  --headings-font-family: 'ABeeZee', sans-serif;
}
/* Modal container styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal content styles */
.modal-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 991px;
  height: auto;
  /* max-width: 800px; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.modal-close-btn {
  /* position: absolute; */
  margin-bottom: 30px;
  /* right: 10px;. */
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
    color: #333333;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-header h2 {
  margin: 0;
}

.modal-body {
  padding: 15px 0;
}

h2{
  text-align: left;
    color: #5B616A;
}

th{
  font-weight: 500;
  font-size: 20px;
  font-family: var(--headings-font-family);
  color: #333333;
}

tr {
    font-family: var(--headings-font-family);
    font-size: 19px;
}

td{
  font-size: 13px;
    /* font-weight: 100; */
    font-family: 'ABeeZee', sans-serif;

}

.students-table{
  border: 0px;
  border: red;
}

.hediee{
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: auto;
}