.shared-background {
  background-image: url("../../../../../../../../assets/transition-2-images/week1/page6/sharedbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px 0 0;
}
