.overview {
  /* padding: 20px; */

}

.browse-all-courses-text {
  width: 950px;
  background-color: #275dad;
  padding: 10px;
  color: #fff;
  text-align: left;
  width: 100%;
}

.browse-all-courses-text p {
  font-size: 16px;
}

.width {
  width: 100%;
}

.btn.card-btn.preview {
  width: 80%;
}
.btn.card-btn.cart {
  width: 80%;
}

.course-card-btn {
  gap: 1rem;
}
