/* src/App.css */

.dashboard {
  display: flex;
  width: 100%;
}

.sidebar-content {
  flex: 2;
}

.dashboard-content {
  flex: 4;
  padding: 40px 20px;
  margin: 50px 0 0 250px;
}

.course-profile {
  width: 100%;
}
.course-sidebar-content {
  width: 100%;
}
